@model Portal.MVC.ViewModel.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "User")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a href="@Url.Action("ChangePassword","Account")" title="修改密码" class="tip-bottom current">修改密码</a>
    </div>
    <h1>修改密码</h1>
</div>

<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>修改密码</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="@Url.Action("ChangePassword")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.Partial("info")
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="确认" class=" btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/Js/user.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
