@model Portal.MVC.ViewModel.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/account.css" rel="stylesheet" />
<div class="container mt30">
    <div class="row">
        <div class="col-md-12">
            <div class="loginbox">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
     <h3 class="title">注册账号</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserName,new{ @class="form-control"})
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new{ @class="form-control"})
            @Html.ValidationMessageFor(model => model.Email)
        </div>
     <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mobile,new{ @class="form-control"})
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password,new{ @class="form-control"})
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword,new{ @class="form-control"})
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p class="mt10">
            <input type="submit"  class="btn btn-info"  value="注册" />
            <a class="abright" href="@Url.Action("Logon")">登录</a>
            

        </p>
}
<div class="vendor-block">
 
</div>
</div>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </div>