<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.2, minimum-scale=0.2, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="造作，为您提供国际获奖设计师原创家居设计，包括沙发、桌椅、床、衣柜等家具套系，更有抱枕、台灯、装饰画等家居饰品。全部产品免费配送，物流到家。">
    <meta content="index, follow" name="robots">
    <meta name="Keywords" content="智能家居，免费配送，包邮，原创设计">
    <meta name="robots" content="all">
    <meta http-equiv="Window-target" content="_top">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/portalbase.css" rel="stylesheet" />
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
    <link href="~/Content/CSS/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="~/Content/favicon.ico" />
    <link href="~/Content/Matrix_Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-paginator.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/layer/extend/layer.ext.js"></script>
    <script src="~/Content/toastr/toastr.min.js"></script>
    <script src="~/Scripts/public.common.js"></script>
    <script src="~/Scripts/public.ajaxcart.js"></script>
    <style>
    </style>
</head>

<body>
    <div class="wrapper">
        <div id="header"  >
            <div class="viewport-wrapper">
                <div class="container">
                    <a class="header-logo" href="/">WarmWood</a>
                    <div class="header-account">
                       @Html.Action("HeaderLinks","Common")
                    </div>
                    <ul class="header-nav">
                        <li class="nav-item home"><a href="@Url.Action("Index", "Home")">首页</a></li>
                        <li class="nav-item products" id="header_tags">
                            <a href="#">产品<span class="icon-caret-down"></span></a>
                            @*<ul class="items" role="menu">
                                    <li><a href="#">淘书</a></li>
                                    <li><a href="#">淘书</a></li>
                                    <li class="divider"></li>
                                </ul>*@

                        </li>
                        <li class="nav-item example">
                            <a href="#">租赁服务</a>
                        </li>
                        <li class="nav-item download">
                            <a href="#">APP</a>
                        </li>
                        <li class="nav-item download">
                            <a href="#">母婴安全</a>
                        </li>
                        <li class="nav-item download">
                            <a href="#">视频中心</a>
                        </li>
                        <li class="nav-item download">
                            <a href="#">木材赏析</a>
                        </li>
                        <li class="nav-item download">
                        </li>
                    </ul>
                    <div class="header-tags">
                        <ul>
                            <li>
                                <img class="screening-img-normal" src="~/Content/static/all.png">
                                <img class="screening-img-hover" src="~/Content/static/all1.png">
                                <p>全部</p>
                            </li>
                            <li tagid="4">
                                <img class="screening-img-normal" src="~/Content/static/shafa.png">
                                <img class="screening-img-hover" src="~/Content/static/shafa1.png">
                                <p>沙发</p>
                            </li>
                            <li tagid="3">
                                <img class="screening-img-normal" src="~/Content/static/zuoyi.png">
                                <img class="screening-img-hover" src="~/Content/static/zuoyi1.png">
                                <p>座椅</p>
                            </li>
                            <li tagid="2">
                                <img class="screening-img-normal" src="~/Content/static/zhuoji.png">
                                <img class="screening-img-hover" src="~/Content/static/zhuoji1.png">
                                <p>桌几</p>
                            </li>
                            <li tagid="5">
                                <img class="screening-img-normal" src="~/Content/static/guijia.png">
                                <img class="screening-img-hover" src="~/Content/static/guijia1.png">
                                <p>柜架</p>
                            </li>
                            <li tagid="1">
                                <img class="screening-img-normal" src="~/Content/static/chuang.png">
                                <img class="screening-img-hover" src="~/Content/static/chaung1.png">
                                <p>床</p>
                            </li>
                            <li tagid="6">
                                <img class="screening-img-normal" src="~/Content/static/jiafang.png">
                                <img class="screening-img-hover" src="~/Content/static/jiafang1.png">
                                <p>家纺</p>
                            </li>
                            <li tagid="8">
                                <img class="screening-img-normal" src="~/Content/static/deng.png">
                                <img class="screening-img-hover" src="~/Content/static/deng1.png">
                                <p>灯具</p>
                            </li>
                            <li tagid="7">
                                <img class="screening-img-normal" src="~/Content/static/zhaung.png">
                                <img class="screening-img-hover" src="~/Content/static/zhaung1.png">
                                <p>装饰</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            AjaxCart.init(false, ".header-account .cart-qty", ".header-account .wishlist-qty","#flyout-cart")
        </script>
        <div id="content">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 footer-list">
                    <ul class="row">
                        <li class="col-xs-12 col-sm-3 col-md-3">
                            <h5>产品</h5>
                            <dl>
                                <dd><a href="@Url.Action("IBabycrib","Product")">智能婴儿床</a></dd>
                            </dl>
                        </li>
                        <li class="col-xs-12  col-sm-3 col-md-3">
                            <h5>关于我们</h5>
                            <dl>
                                <dd><a>公司简介</a></dd>
                                <dd><a>新闻动态</a></dd>
                                <dd><a>加入我们</a></dd>
                            </dl>
                        </li>
                        <li class="col-xs-12  col-sm-3 col-md-3">
                            <h5>服务</h5>
                            <dl>
                                <dd><a>体验点</a></dd>
                                <dd><a>加入我们</a></dd>
                            </dl>
                        </li>
                        <li class="col-xs-12  col-sm-3 col-md-3">
                            <img src="~/Content/static/wx_200.png" />
                        </li>
                    </ul>
                </div>
                <div class=" col-md-3 company">
                    <img src="~/Content/Photos/logo.png" />
                    <p>北京我木我的科技有限公司</p>
                </div>
            </div>
        </div>
        <p class="copyright">
            Copyright © 2016 warmwood.com Inc.All Rights Reserved. 版权所有 京ICP备1504780号-2 <br />
            客服电话：400-0071-380 客服邮箱：warmwood@warmwood.com 联系我们：contact@warmwood.com
        </p>
    </footer>
    <div class="jump-top-box">
        <div class="jump-top">
            <a href="#" target="_self">返回顶部</a>
        </div>
        @*<div class="jump-task-list">
            <a class="service" data-action="open-task-list">在线客服</a>
        </div>*@
    </div>
    <div>
    </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1257186807'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257186807%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>

<script>
    window.onload = function () {
        var pathname = location.pathname.substr(1);
        var token;
        if (pathname == "") {
            token = "Home";
        } else {
            var patt = new RegExp("[a-z]{1,}", "i");
            token = patt.exec(pathname)[0];
        }
        switch (token) {
        case "Example":
            changenavcss(".example");
            break;
        case "Download":
            changenavcss(".download");
            break;
        case "Product":
            changenavcss(".product");
            break;
        case "SoftPurchase":
            changenavcss(".soft");
            break;
        case "Ask":
            changenavcss(".train");
            break;
        case "Topic":
            changenavcss(".forum");
            break;
        case "About":
            changenavcss(".about");
            break;
        case "Home":
            changenavcss(".home");
            break;
        }

    }
    function changenavcss(navItem) {
        $(".header-nav").children(navItem).addClass("nav-active");
        $(".header-nav").children(navItem).children("a").css("color", "#57b382");
    }

    $(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        //给导航栏栏目添加下拉列表，当鼠标放在栏目上面时显示出来。
        $(".header-nav li").bind("mouseenter", function () { $(this).children("ul").slideDown(); })
            .bind("mouseleave", function () { $(this).children("ul").slideUp(); });
        $("ul.items").bind("mouseleave", function () {
            //隐藏列表
            $(this).slideUp();
        });

        $('.jump-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 500);
        });

        $(window).scroll(function () {
            if ($("body").scrollTop() == 0) {
                // $(".jump-top").css("visibility", "hidden");
                $(".jump-top").fadeOut(200);
            } else {
                //$(".jump-top").css("visibility", "visible");
                $('.jump-top').fadeIn(200);
            }
 
        });
    });


    $(function () {
        var tagsTime;
        $(document).on('mouseover mouseout', '#header_tags', function (event) {
            var $headerTagsBox = $('.header-tags');
            if (event.type == 'mouseover') {
                clearTimeout(tagsTime);
                // alert(tagsTime);
                $headerTagsBox.slideDown(300);
            }
            else if (event.type == 'mouseout') {
                tagsTime = setTimeout(function () {
                    $headerTagsBox.slideUp(200);
                }, 200);
            }
        });
        $('.header-tags').hover(function () {
            clearTimeout(tagsTime);
        }, function () {
            var $me = $(this);
            tagsTime = setTimeout(function () {
                $me.slideUp(200);
            }, 200);
        });
        $(document).on('click', '.header-tags li', function () {
            var $li = $(this);
            var tagid = $li.attr('tagid');
            if ($li.hasClass('header-tags-liclick')) {
                $li.removeClass('header-tags-liclick');
            } else {
                $li.addClass('header-tags-liclick').siblings().removeClass('header-tags-liclick');
            }
            if (tagid) {
                location.href = '';
            } else {
                location.href = '';
            }
        });
    });
</script>
