@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_UserCenter.cshtml";
}
                   
    <div class="hd">
        <h2 class="fl">基本资料</h2>
    </div>
    <div id="info"class="bd uc-data mt20">
        <a class="avt fl" href="@Url.Action("Avatar","User")" title="更换头像">
            <img src="~/Content/user_img.jpg" alt="更换头像">
            <span><i class="iconfont"></i>更换头像</span>
        </a>
        <ul>
            <li class="nick">@ViewBag.userName</li>
        </ul>
        <ul>
            <li>
                我的书单：<a href="#">@ViewBag.countExample</a>
            </li>
            <li>
                我读过的书：<a href="#">@ViewBag.countQuestion</a>
            </li>
                                 
        </ul>
        <ul>
            <li>
                正在读的书：<a href="#">@ViewBag.countTopic</a>
            </li>
        </ul>
    </div>
                
                          
              