@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/golab.css" rel="stylesheet" />
<link href="~/Content/CSS/user_index.css" rel="stylesheet" />

@model Portal.MVC.ViewModel.LocalPasswordModel

   @Html.Action("PartInfo","User")
     <div class="container" style="padding-left:22px;">            
    <div  class="uc-bd wp mt40" >
        @Html.Partial("UserNav", "changepwd")



  
                    <div class="mn" >
                        <div class="uc-wp">
                <div class="hd">
                    <h2 class="fl">修改密码</h2>
                </div>
                <div>
                    @using (Html.BeginForm("SetPassword","User",FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="holdbox">
                            <ul>
                                <li>
                                    <span class="required-char"><i>*</i>旧密码：</span>
                                    @Html.PasswordFor(m=>m.OldPassword,new{@class="logon-control"})
                                    @Html.ValidationMessageFor(m=>m.OldPassword)
                                     <a class="forget" href="@Url.Action("ForgotPwd","User")">忘记密码</a> 
                                    
                                </li>
                                <li>
                                    <span class="required-char"><i>*</i>新密码：</span> 
                                    @Html.PasswordFor(m=>m.NewPassword,new{@class="logon-control"})
                                    @Html.ValidationMessageFor(m=>m.NewPassword)
                                </li>
                                <li>
                                    <span class="required-char"><i>*</i>确认密码：</span> 
                                    @Html.PasswordFor(m=>m.ConfirmPassword,new{@class="logon-control"})
                                    @Html.ValidationMessageFor(m=>m.ConfirmPassword)
                                </li>
                            
                                <li >
                                   
                                    <input id="confirm"type="submit" style="background-color: #4074e1;border-color: #4074e1;margin-left: 128px;"  class="btn btn-primary" value="确定修改" /> 
                                    <input type="reset" style="margin-left: 20px;"class="btn btn-info" value="取消" /> 
                                </li>
                            </ul>
                        </div>
                    }
                </div>
</div>
                  </div>
              </div>
    </div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
