@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"><a href="@Url.Action("Index","Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a></div>
</div>
<div class="container-fluid">
    <div style="padding-top: 20px;">
        <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
              欢迎：@User.Identity.Name
        </div>
    </div>
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lo span2"> <a href="@Url.Action("Index","User")"> <i class="icon-user-md"></i><span class="label label-success">@ViewBag.UserCount</span>用户 </a> </li>
            <li class="bg_dy span2"> <a href="@Url.Action("Index","News")"> <i class="icon-copy"></i><span class="label label-primary">@ViewBag.News</span>新闻 </a> </li>
            <li class="bg_lb span2"> <a href="@Url.Action("Index","Team")"> <i class="icon-user"></i><span class="label label-info">@ViewBag.Members</span>成员 </a> </li>
            <li class="bg_lr span2"> <a href="@Url.Action("Index","Example")"> <i class="icon-list"></i><span class="label label-success">@ViewBag.Trades</span>案例 </a> </li>
        </ul>
    </div>
</div>


<script>
        $(function() {
            $("#home").addClass("active");
        });
</script> 